body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("images/ofrango.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: brightness(0.6);
}

main {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 16px;
  margin: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

#data-atual {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ccc;
}

#frase-frango {
  font-size: 1.4rem;
}


#frase-frango {
  font-size: 1.4rem;
}
